@import url( 'https://fonts.googleapis.com/css2?family=Poiret+One&display=swap' );

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import "assets/styles/foundation/_reset.scss";
@import "assets/styles/foundation/_mixin.scss";
@import "assets/styles/foundation/_variable.scss";
@import "assets/styles/foundation/_base.scss";

@import "assets/styles/layout/**/*.scss";

body {
	height: 100%;
}

.c-drop-shadow--blue { filter: drop-shadow(0px 0px 16px #20d5f5); }